<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cen.wehelp.mapper.PermissionMapper">

	<!-- 结果集 -->
	<resultMap id="permissionResult" type="com.cen.wehelp.model.Permission">
		<id property="id" column="id" />
		<result property="roleId" column="role_id" />
		<result property="token" column="token" />
		<result property="url" column="url" />
		<result property="available" column="available" />
		<result property="description" column="description" />
	</resultMap>

</mapper>
