<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cen.wehelp.mapper.UserRoleMapper">

	<!-- 结果集 -->
	<resultMap id="userRoleResult" type="com.cen.wehelp.model.UserRole">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="roleId" column="role_id" />
		<result property="available" column="available" />
		<result property="createDate" column="create_date" />
		<result property="updateDate" column="update_date" />
	</resultMap>

</mapper>
