<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cen.wehelp.mapper.UserMapper">

	<!-- 结果集 -->
	<resultMap id="userResult" type="com.cen.wehelp.model.User">
		<id property="id" column="id" />
		<result property="userName" column="user_name" />
		<result property="password" column="password" />
		<result property="salt" column="salt" />
		<result property="locked" column="locked" />
		<result property="nickName" column="nick_name" />
		<result property="sex" column="sex" />
		<result property="age" column="age" />
		<result property="phone" column="phone" />
		<result property="email" column="email" />
		<result property="address" column="address" />
		<result property="registerDate" column="register_date" />
	</resultMap>

</mapper>
